.Contact {
	figure {
		background: orange;
	}
	.map {
		width: 100%;
		height: 50vh;
		background: #111;
	}
	.view {
		width: 100%;
		height: 60vh;
		background: #111;
	}
	ul {
		display: flexx;
		gap: 20px;
	}
	l1 {
		cursor: pointer;
	}
	li.on {
		color: hotpink;
	}
}
